<%- include('navbar.ejs') %>


<div class="container">
  <div class="row" style="margin-left: 200px;margin-top: -40px;">
    <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

      <div class="d-flex justify-content-center py-4">
        <a href="/admin" class="logo d-flex align-items-center w-auto">
          <span class="d-none d-lg-block text-black">Janalaxmi Co-operative Bank Ltd.</span>
        </a>
      </div><!-- End Logo -->

      <div class="card mb-3 card-body shadow pt-2 pb-2 rounded-0" >
        <div class="card-body">
          <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4 text-black">Change Login Password</h5>
          </div>
          <form action="/admin/update_password" method="post" id="registrationForm">
            <input type="hidden" name="old_password" value="<%= admin_login_data.admin_password %>" id="old_pass">
            <p style="margin: 0%; padding: 0%;text-align: left;font-weight: 700;">Old Password :</p>
                <input type="password" name="admin_password" class="form-control oldInput" id="oldInput" style="width: 100%;">
                <p style="text-align: left;"><input type="checkbox" onclick="myFunction1()"> : Show Password</p>
            <br>
            <p style="margin: 0%; padding: 0%;text-align: left;font-weight: 700;">New Password :</p>
                <input type="password" name="new_admin_password1" class="form-control" id="newInput1" style="width: 100%;">
                <p style="text-align: left;margin-bottom: 10px;"><input type="checkbox" onclick="myFunction2()"> : Show Password</p>
            
                <p style="margin: 0%; padding: 0%;text-align: left;font-weight: 700;">Confirm Password :</p>
                <input type="password" name="new_admin_password2" class="form-control" id="newInput2" style="width: 100%;">
                <p style="text-align: left;"><input type="checkbox" onclick="myFunction3()"> : Show Password</p>

            
            <div class="col-12 mt-2">
              <button class="btn btn-warning w-100 rounded-0 text-white card-body  pt-2 pb-2" type="submit">Reset Password</button>
            </div>
            <div id="passwordError" class="text-danger mt-2" style="display: none;">Old Passwords does not match.</div>
           

          </form>

        </div>
      </div>

      <div class="credits text-center">
        <p>	&#169; <span id="year"></span> Janalaxmi Co-operative Bank Ltd. All Rights Reserved <br> Design by <a href="https://www.a2zithub.org/" target="_blank">A2Z IT HUB PVT LTD</a></p>
      </div>

    </div>
  </div>
</div>





<script>
  document.getElementById('registrationForm').addEventListener('submit', function(event) {
      const password = document.getElementById('old_pass').value;
      const confirmPassword = document.getElementById('oldInput').value;
      const errorDiv = document.getElementById('passwordError');

      if (password !== confirmPassword) {
          event.preventDefault();
          errorDiv.style.display = 'block';
      } else {
          errorDiv.style.display = 'none';
      }
  });
</script>



<script>
    function myFunction1() {
      var x = document.getElementById("oldInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>


<script>
    function myFunction2() {
      var x = document.getElementById("newInput1");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>

<script>
    function myFunction3() {
      var x = document.getElementById("newInput2");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
<%- include('footer.ejs') %>
