<%- include("navbar.ejs") %>



    <div class="formoving">

        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12 " id="#">
                    <div class="w-100 privacyploicy " data-aos="fade-down" data-aos-duration="1000">
                        <!-- <img src="" alt="Business Loan Background"> -->

                        <div class="loan_section_text" style="margin-left: -100px;">
                            <section class="blog_bread">
                                <div class="container py-5 topbar">
                                    <div class="row py-5 ">
                                        <h1 class="text-white text-center">Privacy Policy </h1>
                                        <nav class="breadnav " aria-label="breadcrumb">
                                            <ol class="breadcrumb bg-transparent  justify-content-center">
                                                <li class="breadcrumb-item fs-5">
                                                    <a class="text-decoration-none text-white" href="/">Home</a>
                                                </li>

                                                <li class="breadcrumb-item fs-5 active text-warning" aria-current="page">
                                                    Privacy Policy
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12">
            <h3 class="mt-5 ms-5">OBJECTIVE</h3>
            <p class="ms-5 mt-3 mb-3">The Objective of this Policy is to ensure privacy of the information about its’ customers and non-customers received / obtained by the bank in any form – electronic and / or otherwise.</p>

            <h3 class="ms-5 mt-3">SCOPE</h3>
            <p class="ms-5">The policy covers information received / obtained by the bank about customers and non-customers in electronic as well as any other forms like paper etc. The policy also covers information received/ obtained by the Bank through other sources
                like received from other Banks during the normal course of business such as Confidential Reports /Statement of account etc.</p>

            <p class="ms-5">This policy covers information handling infrastructure like the Hardware, applications, Databases, Operating Systems, Network Assets, any electronic/non electronic device and oral information sharing.</p>

            <p class="ms-5 mb-2">This Policy sets out the basis on which information received / obtained by the bank is processed by the Bank Privacy policy.</p>

            <h3 class="ms-5 mt-4">DESCRIPTION</h3>
            <p class="ms-5">As a part of Bank’s commitment to the customers and non-customers and regulatory requirements, it shall be ensured that privacy of the information received about the customers is maintained which means that it is used properly and kept securely.
            </p>

            <h5 class="ms-5">Definitions</h5>
            <ul class="ms-4" style="list-style-type: none;">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Customer – For the definition, please refer to the KYC Policy of the Bank.
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Non-Customer – There are no universal definitions of these terms, however it is safe to say that a "non-customer" is any entity that fails to meet the operative definition of "customer". Non-Customer means such Persons who are not Customers and who approach the Bank for availing the Non-Customer Services. The expression “Non-Customers” shall, as the subject or context may permit or require, mean any or each of such Non-Customers. Non-Customer means a natural or legal person who got into touch with the Bank, but does not have any existing relationship with the Bank on provision of a product or a service by the Bank and, at the same time, is not a Former Customer (the Former Customer becomes a Non-Customer at the moment when Bank deletes or anonymizes his/her data from its systems according to the Personal Data Protection Framework).</span>
                </li>

                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">“Personal information” means any information that relates to The Bank’s Customers and Non-Customers, which either directly or indirectly, in combination with other information available or likely to be available with the Bank, and is capable of identifying such Customer and Non-Customer. Personal Information may include Customer’s or Non-Customer’s name, age, gender, contact details, email addresses, passport number, Income, PAN, details of nominees, account numbers, types of accounts, type of relationship with Bank, credit ratings, litigation, claims, financial information, physical, physiological and mental health condition, medical records and history, Biometric information, any detail relating to the above clauses as provided to Bank for providing service, and any of the information received by Bank for processing, stored or processed under lawful contract or otherwise and other information that may directly or indirectly identify a particular Customer or Non-Customer</span></li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">
            Any information that is freely available or accessible in public domain or required to be furnished under the Right to Information Act, 2005 or under any other law for the time being in the force shall not be regarded as Personal information for the purpose of this policy.
        </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">“Processing “means any operation or a set of operations whether carried out by automatic means or not that relates to
            </span>
                </li>
                <ul style="list-style-type: none;">
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-2">
                    The organization, collation, storage, updating, modification, alteration or use of personal data
                </span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-2">
                The merging, linking, blocking, degradation, erasure or destruction of personal data
            </span>
                    </li>
                </ul>

            </ul>
            <h5 class="ms-5 mt-3">Collection of Personal Information</h5>
            <ul style="list-style-type:none;" class="ms-4">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank shall collect Personal Information, as may be required in the normal course of business and permitted by laws and regulations.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">If the Bank collects other Personal Information, in order to provide better services, the same also shall be classified as “Personal Information” as defined in this policy.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank shall obtain consent (express or implied) in writing through letter or fax or email from Customer or Non-customer, regarding his knowledge about the purpose of usage of and transfer of information by the bank before collecting such Information.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Personal Information shall not be collected unless it is necessary or collected for a lawful purpose or connected with a function or activity or business of the Bank.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank may also collect information relating to –</span>
                </li>
                <ul class="mt-3">
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-2">Personal Information shall not be collected unless it is necessary or collected for a lawful purpose or connected with a function or activity or business of the Bank.</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-2">Information from third parties such as employers, joint account holders, credit rating agencies, fraud prevention agencies, etc.</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-2">Computer used by the Customer or Non-Customer, including IP address, operating system and browser type, for system administration and share the same with third parties. This is statistical data and may not identify any individual..</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-2">Computer used by the Customer or Non-Customer, including IP address, operating system and browser type, for system admin.</span>
                    </li>
                </ul>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">If the Customer or Non-Customers provides Personal Information initially and later decides to withdraw the Personal Information, it shall be clearly informed to such Customer or Non-Customers that though the Bank shall return the Personal Information, certain services or products for which such Personal Information was required shall be discontinued.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Personal Information shall not be retained for period which is longer than the required for the purpose for which it was collected.</span>
                </li>
            </ul>


            <h5 class="ms-5 mt-4 mb-4">Storing of Personal Information</h5>
            <ul style="list-style-type:none;" class="ms-4">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Once Personal Information is collected from the Customers or Non-Customers; it is the responsibility of The Bank to store it in a secure environment.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Personal information is stored on secure servers. Where the Customer or Non-Customers has been given a user name, Password / Pin Number, which enables Customer or Non-Customers to access some services of the bank, the Customer or Non-Customers shall be responsible for keeping this user name, password/ Pin number confidential.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">In the event of information security breach, The Bank shall be in a position to demonstrate that information security is implemented as per the documented information security policies. To meet this objective, appropriate record of the implementation of Information Security controls should be maintained in such a manner that it would be acceptable as evidence.</span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">If the Personal Information is available in electronic format it shall be stored within the Bank’s environment and software systems, which shall be protected with the help of appropriate access controls, passwords, encryption and/or other such reasonable security measures. Personal Information of Customers or Non-Customers shall not to be copied, duplicated, or extracted for any purpose other than for the Bank’s operations/legal and/or regulatory requirement.
        </span>
                </li>
            </ul>
            <h5 class="ms-5 mt-4 mb-4">Modifications to the Personal Information</h5>
            <ul class="ms-4 " style="list-style-type: none;">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank shall provide facility to Customers or Non-Customers to review their Personal Information. In case any changes are required such as address, contact details etc., the Bank shall facilitate customers to make those changes, and ensure that necessary supporting documentation is obtained from the Customers or Non-Customers for Bank’s record.
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank shall ensure that the Customers or Non-Customers are clearly informed that the Bank shall not be responsible for the authenticity of the personal information or sensitive personal data or information supplied by the provider of information to The Bank or any other person acting on its’ behalf.
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Before collecting Personal Information, the Bank shall ensure that the Customer or Non-Customers is duly informed that it is purely in their interest to provide current, accurate, complete and valid Personal Information.
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">A copy of Customer’s or Non-Customers Information shall be made available if requested by the Customer or Non-Customers and the Customer or Non-Customers is entitled to have any inaccuracies corrected.

                </span>
                </li>
            </ul>

            <h5 class="ms-5 mt-4 mb-4">Grievances / Complaints</h5>

            <p class="ms-5">The Nodal Officer for Public Grievances at Head Office shall be the Grievance Officer for Data Privacy related issues, whose name and contact details shall be provided on the Bank’s website.</p>
            <p class="ms-5">The Complaints made to such Grievance Officer shall be redressed expeditiously, as per regulatory guidelines.</p>
            <h5 class="ms-5 mt-4 mb-4">Sharing / Transfer of Personal Information</h5>
            <ul class="ms-4" style="list-style-type: none;">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">In pursuance of the Policy, it shall be the responsibility of The Bank, not to disclose Personal Information of Customers or Non-Customers to any third party. However, the Bank may be required to share Personal Information to its Service Providers and Authorized Vendors in order to render service to Customers or Non-Customers. In such cases, before sharing any such Personal Information, The Bank shall ensure that a proper Agreement is signed by the recipient Service Providers and Authorized Vendors and they are bound by confidentiality conditions.
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank shall ensure that such Personal Information shall be transferred / transmitted to other body, corporate or a person in India or abroad, as required in the normal course of business, only when the other entity ensures the same or higher level of data protection that is adhered to, by the Bank
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">Transfer of Personal Information of customer or Non-Customer to other entity shall only be allowed pursuant to a valid contract between the Bank and such other entity which clearly states the need to transfer such Personal Information of its’ Customers or Non-Customers
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank may disclose personal information to credit reference and fraud prevention and law enforcement agencies and identity and address verification agencies who may record and use Customer or Non-Customer Information and disclose it to other organizations for debt tracing, fraud and money laundering prevention purposes.
                </span>
                </li>
            </ul>
            <h5 class="ms-5 mt-4 mb-4">Permitted Disclosure</h5>
            <ul class="ms-4" style="list-style-type: none;">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank shall take prior permission of Customers or Non-Customers before disclosing, publishing any Personal Information provided by Customers or Non-Customers, unless the bank is required to make such disclosers under compliance of legal obligations.
                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-2">The Bank, shall share Personal Information without obtaining prior consent of Customer or Non-Customer to Government agencies mandated under the law to obtain such Information for the purpose of:
                </span>
                </li>
                <ul class="ms-4 mt-3" style="list-style-type: none;">
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">verification of identity or
                                </span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">prevention, detection, investigation of crimes or
                                </span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">prosecution and punishment of offences or
                                </span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">in national interest
                                </span>
                    </li>
                </ul>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-3">The Bank shall disclose Personal Information of Customers or Non-Customers, after due verification of the requirement from Government agencies, stating the purpose of seeking such Personal Information and that such information is required for some legal purpose. Moreover, the Bank shall also obtain commitment that the Personal Information so shared shall be used for the purpose for which it is obtained and shall not be published or shared with any other person.
                                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-3">Personal Information shall be shared with a third party only as per an order received by the Bank under the prevailing law. Such disclosure of Personal Information shall be done by the Bank, only after receiving a commitment from the third party that it shall not make further disclosures.
                                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-3">Personal Information shall be shared with a third party only as per an order received by the Bank under the prevailing law.
                                </span>
                </li>
            </ul>

            <h5 class="ms-5 mt-4 mb-4">Retrieval of Personal Information</h5>
            <ul class="ms-4 mt-3" style="list-style-type: none;">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-3">The Bank shall ensure that the Personal Information retrieved in physical or electronic format, is returned to the secure environment or securely destroyed after the required usage.
                                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-3">In case any copy of Personal Information needs to be created for the purpose of the Bank’s operations, it shall be the responsibility of the Bank to store the copies in a secured environment and restore such copies also to the secure environment or destroy securely.
                                </span>
                </li>
            </ul>
            <h5 class="ms-5 mt-4 mb-4">Access of Personal Information</h5>

            <p class="ms-5">Only the Bank Employees, and employees of the Business Correspondents, Agents, Service Providers who are authorized by the Bank shall be allowed to access the Personal Information; provided a lawful contract is made and their operational duty
                demands access to such Personal Information on a need-to-know basis.
            </p>
        </div>
        <!-- Start -->
        <div class="col-12 col-md-12">
            <h5 class="ms-5 mt-4 mb-4">
                Prevention of Unauthorized Disclosure
            </h5>
            <p class="ms-5">
                Bank shall maintain the following policies and procedures to prevent unauthorized disclosure of information
            </p>

            <table style="width: 90%; margin: 0 auto; background-color: white; border: 1px solid black; border-collapse: collapse;">
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">Policy and procedure to secure the confidentiality of the data, information</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">Policy and procedure to ensure that access to the data, information is permitted only to such of their managers or employees or designated officers, who are duly authorized for the purpose on a need-to-know basis;</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">Policy and procedure to secure the confidentiality of the data, information</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">Policy and procedure to ensure that access to the data, information is permitted only to such of their managers or employees or designated officers, who are duly authorized for the purpose on a need-to-know basis;</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">Policy and procedure to secure the confidentiality of the data, information</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">Policy and procedure to ensure that access to the data, information is permitted only to such of their managers or employees or designated officers, who are duly authorized for the purpose on a need-to-know basis;</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">
                        Policy and procedure to secure the confidentiality of the data, information
                        <table style="width: 90%; margin: 10px auto; background-color: white; border: 1px solid black; border-collapse: collapse;">
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">The identity of the person seeking access to the data</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">The date and time of such access;</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">The identity of the Customer or Non-Customer whose data were so accessed; and</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">The records and entries pertaining to such log is preserved for minimum period as per backup policy/electronic record management policy/guidelines and the same could be available for examination by auditors / or by the
                                    Reserve Bank, as the case may be;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black; padding:8px">
                                    Policy and procedure to ensure that the records and entries pertaining to maintenance of log of all unsuccessful attempts to access data end, all incidents involving a proven or suspected breach of security in respect thereof including therein;
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">The date and time of such access;</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">The identity of the Customer or Non-Customer whose data were so accessed; and</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">Procedure for security incidence reporting and response</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 8px;">Maintenance and review of records and entries of log, on a regular and frequent basis to detect and investigate any unusual or irregular patterns of use of or access to data including creation of the audit trails and verification
                                    thereof;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- end -->
            <h5 class="ms-5 mt-4 mb-4">Accidental / Unauthorized Disclosure</h5>
            <ul class="ms-4 mt-3" style="list-style-type: none;">
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-3">In case any Bank Employee or Service Provider or Authorized Agent identifies that Personal Information of any Customer or Non-Customer is erroneously disclosed in contravention of this Policy, then the entity shall immediately inform such incident through the reporting channel to the Grievance Officer.
                                </span>
                </li>
                <li class="mt-2 d-flex align-items-start">
                    <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                    <span class="ms-3">Depending upon the criticality of the information and its’ impact, the Bank shall take suitable actions in such matters.
                                </span>
                </li>
            </ul>
            <h5 class="ms-5 mt-4 mb-4">Protection under Whistle Blower Policy</h5>
            <p class="ms-5 mt-2">If any of the Bank’s Employee, Agent, Service Provider, Authorized Agent, etc., observes that Personal Information of a Customer or Non-Customer is being disclosed in contravention of this policy, such person/entity shall be encouraged to
                inform such incident pursuant to the Whistle Blower Policy of the Bank.</p>

            <h5 class="ms-5 mt-4 mb-4">Disposal of Personal Information</h5>
            <p class="ms-5">The Bank shall destroy Personal Information in its possession, when it is concluded that such information is no longer needed and the bank is not under a legal obligation to retain the information anymore. Due precaution shall be taken prior
                to destruction of such information.</p>


            <h3 class="ms-5 mt-4 mb-4">ENFORCEMENT</h3>
            <p class="ms-5 mt-2">As per RBI guidelines the Bank shall have a “Chief Information Security Officer (CISO)”, who shall be a senior level official of the rank of GM/DGM/AGM.</p>
            <p class="ms-5">The CISO shall be responsible for articulating and enforcing this Privacy Policy, protecting the Information of the Bank and also for coordinating the Personal Information security related issues/implementation within the Bank as well as relevant
                external agencies.</p>

            <!-- REFERENCE Start -->
            <div class="col-12 col-md-12">
                <h4 class="ms-5 mt-4 mb-4">REFERENCE</h4>
                <ul class="ms-4 mt-3" style="list-style-type: none;">
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">Master Circular on Know Your Customer (KYC) Norms / Anti-Money Laundering (AML) Standards / Combating of Financing of Terrorism (CFT)/Obligation of banks under Prevention of Money Laundering Act, 2002, dated Jul 01, 2011</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">Master Circular on Know Your Customer (KYC) Norms / Anti-Money Laundering (AML) Standards / Combating of Financing of Terrorism (CFT)/Obligation of banks under Prevention of Money Laundering Act, 2002, dated Jul 1, 2010/ Jul 2, 2012.</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">Customer Identification Procedure Features to be verified and documents that may be obtained from customers [Annex to A.P. (DIR Series) Circular No. dated November, 2012] RBI/2012-13/45 DBOD. AML. BC. No. 11/14.01.001/2012-13 July 2, 2012</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">Information Technology (Reasonable security Practices and procedures and Sensitive personal data or information) Rules, 2011.</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">Credit Information Companies (Regulation) Act, 2005</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right p-0 me-2" id="icons"></i>
                        <span class="ms-3">National Cyber Security Policy – Notification dated 2nd July 2013.</span>
                    </li>
                    <li class="mt-2 d-flex align-items-start">
                        <i class="fa-solid fa-angles-right me-2" id="icons"></i>
                        <span class="ms-3">Draft Bill – Right to Privacy – IT Act 2000 and ITAA 200.</span>
                    </li>
                </ul>
            </div>
            <!-- REFERENCE End -->
        </div>




    </div>





    <%- include("footer.ejs") %>