<%- include("navbar.ejs") %>


    <div class="formoving">

        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12 " id="#">
                    <div class="w-100 Termcondi" data-aos="fade-down" data-aos-duration="1000">
                        <!-- <img src="" alt="Business Loan Background"> -->

                        <div class="loan_section_text">
                            <section class="blog_bread">
                                <div class="container py-5 topbar">
                                    <div class="row py-5 ">
                                        <h1 class="text-white text-center">Terms And Condition's</h1>
                                        <nav class="breadnav " aria-label="breadcrumb">
                                            <ol class="breadcrumb bg-transparent  justify-content-center">
                                                <li class="breadcrumb-item fs-5">
                                                    <a class="text-decoration-none text-white" href="/">Home</a>
                                                </li>

                                                <li class="breadcrumb-item fs-5 active text-warning" aria-current="page">
                                                    Terms & condition
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 overflow-y-hidden">
            <h1 class="text-center mt-5">General Terms & Conditions</h1>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-5">Terms & Conditions</h3>
                <p class="ms-5 mt-3">To avail the services offered at www.utkarshlimited.com, you must agree to the following terms and conditions: Please read the term and conditions carefully. While using any current or future services offered by Utkarshlimited Pataswtha
                    through its website www.utkarshlimited.com, whether or not included in the utkarshlimited.com website, you will abide by these Terms & conditions the guidelines and conditions applicable to such service or business.</p>
            </div>

            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Privacy Policy</h3>
                <p class="ms-5 mt-2 mb-2">Please review our Privacy Policy, which also governs your visit to www.utkarshlimited.com, to fully understand our practices.</p>
            </div>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Electronic Communication</h3>
                <p class="ms-5 mt-2 mb-2">When you visit www.utkarshlimited.com or send e-mails to us, you are communicating with us electronically. By communicating with us, you consent to receive communication from us electronically. We will communicate with you by e-mail or
                    by posting notices on our website. You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy the legal requirement that such communication be in writing.</p>
            </div>

            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Payment</h3>
                <p class="ms-5 mt-2 mb-2">Online Payment: Card payment and Net Banking Payment via BillDesk Payment Gateway can be done at Online Payment link on Make Payment page.</p>
            </div>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Refund</h3>
                <p class="ms-5 mt-2 mb-2">Refunds initiated will be credited to the account/card from where the transaction had initiated.</p>
            </div>

            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">License and Website Access</h3>
                <h4 class="ms-5 mb-2 mt-4">General:</h4>
                <p class="ms-5 mt-2 mb-2">Utkarshlimited Pataswtha grants you a limited license to access and make personal use of this website and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of Utkarshlimited
                    Pataswtha .
                </p>

                <h4 class="ms-5 mb-2 mt-4">No license for commercial sale:</h4>
                <p class="ms-5 mt-2 mb-2">This license does not include:</p>
                <p class="ms-5 mt-2 mb-2">any collection and use of any product listing, description, or pricing;</p>
                <p class="ms-5 mt-2 mb-2">copying of account information for the benefit of another BANK; or
                </p>
                <p class="ms-5 mt-2 mb-2">No reproduction: This website or any portion of this website may not be reproduced, duplicated, copied, sold, visited, or otherwise exploited for any commercial purpose without express written consent of Utkarshlimited Pataswtha .</p>
                <p class="ms-5 mt-2 mb-2">No framing: Use of this website is not permit the user to frame or to utilize framing technologies to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Utkarshlimited Pataswtha
                    and its website www.utkarshlimited.com without the express written consent.:</p>
                <p class="ms-5 mt-2 mb-2">Metatags: The user shall not use any metatags or any other 'hidden text' utilizing Bank’s name or trademarks without the express written consent of Utkarshlimited Pataswtha . Any such unauthorized use shall have the effect of termination
                    the permission or license granted hereunder by Utkarshlimited Pataswtha .</p>
            </div>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Reviews, Comments, Communications, and other content</h3>
                <h4 class="ms-5 mb-2 mt-4">Nature of content:</h4>
                <p class="ms-5 mt-2 mb-2">Visitors to www.utkarshlimited.com may post content and other communications; and submit suggestions, ideas, comments, questions or other information, as long as the content is not illegal (i.e it should not barred by any statute or notification/order
                    of the Government/local body etc which has the force/effect as a statutory direction), obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights or otherwise injurious to third party or objectionable
                    in nature and does not consist of or contains software virus, political campaigning, commercial solicitation, mass mailing or any form of spam.</p>

                <h4 class="ms-5 mb-2 mt-4">False information:</h4>
                <p class="ms-5 mt-2 mb-2">The user is bound not to:</p>
                <p class="ms-5 mt-2 mb-2">use false email address,</p>
                <p class="ms-5 mt-2 mb-2">impersonate any person or entity, or</p>
                <p class="ms-5 mt-2 mb-2">otherwise mislead as to the origin of a card or other content.</p>
                <p class="ms-5 mt-2 mb-2">Utkarshlimited Pataswtha reserves the right (but not the obligation) to remove or edit such content although it may not regularly review posted contents.</p>
            </div>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Site Policies, Modification, and Severability</h3>
                <p class="ms-5 mt-3">Utkarshlimited Pataswtha reserves the right to make changes to our website, policies, and these Terms and Conditions at any time at its sole discretion & without any prior notice. If any of these conditions shall become or be deemed invalid,
                    void by operation of law or any statutory order/direction, or for any reason becomes unenforceable, then & in that event such condition shall be deemed severable and will not affect the validity and enforceability of any remaining
                    terms & conditions.</p>
            </div>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Intellectual Property Rights</h3>
                <h4 class="ms-5 mb-2 mt-4">Copyright Protection:</h4>
                <p class="ms-5 mt-3">All content included on this site, such as text, graphics, logos, button icons, audio clips, digital downloads, data compilations and software, is the property of Utkarshlimited Pataswtha and protected by the Indian Copyright law.</p>
                <h4 class="ms-5 mb-2 mt-4">Trademarks:</h4>
                <p class="ms-5 mt-3">Protected Marks: The website www.utkarshlimited.com, and other marks indicated on the website www.utkarshlimited.com are registered trademarks of Utkarshlimited Pataswtha . All Utkarshlimited Pataswtha graphics, logos, page headers, button
                    icons, scripts and service names are trademarks or trade dress of Utkarshlimited Pataswtha . Utkarshlimited Pataswtha trademarks and trade dress may not be used in connections with any product or service that is not of Utkarshlimited
                    Pataswtha .
                </p>
            </div>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Governing Law and Jurisdiction</h3>
                <p class="ms-5 mt-3">These terms and conditions will be construed only in accordance with the laws of India. In respect of all matters/disputes arising out of, in connection with or in relation to use of this website and/or these terms and conditions or any
                    other conditions on this website, only the competent Courts at Pune, shall have jurisdiction, to the exclusion of all other courts.</p>
            </div>
            <div class="col-12 col-md-12">
                <h3 class="ms-5 mb-2 mt-4">Disclaimer of warranties and Limitation of Liability</h3>
                <p class="ms-5 mt-3 mb-2">THIS SITE IS PROVIDED BY Utkarshlimited Pataswtha ON AN "AS IS" AND "AS AVAILABLE" BASIS. Utkarshlimited Pataswtha MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION,
                    CONTENT, MATERIALS, OR PRODUCTS INCLUED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, Utkarshlimited Pataswtha DISCLAIMS ALL WARRANTIES, EXPRESS
                    OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF BANK ABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Utkarshlimited Pataswtha DOES NOT WARRANT THAT THE SITE, ITS SERVERS, OR EMAIL SENT FROM <a href="#" style="text-decoration: none; color: royalblue;"> www.utkarshlimited.com </a>ARE
                    FREE OF VIRUS OR OTHER HARMFUL COMPONENTS. Utkarshlimited Pataswtha WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE AND CONSEQUENTIAL
                    DAMAGES.
                </p>
            </div>
            <div class="col-12 col-md-12">
                <h2 class="ms-5 mb-2 mt-4">Privacy Policy</h3>
                    <h4 class="ms-5 mb-2 mt-4">Objective</h4>
                    <p class="ms-5 mt-2 mb-2">The Objective of this Policy is to ensure privacy of the information about its’ customers received / obtained by the bank in any form – electronic and / or otherwise.</p>

                    <h4 class="ms-5 mb-2 mt-4">Scope</h4>
                    <p class="ms-5 mt-2 mb-5">The policy covers information received / obtained by the bank about customers in electronic as well as any other forms like paper etc. The policy also covers information received/ obtained by the Bank through other sources like received
                        from other Banks during the normal course of business such as Confidential Reports /Statement of account etc. This policy covers information handling infrastructure like the Hardware, applications, Databases, Operating Systems,
                        Network Assets, any electronic/non electronic device and oral information sharing. This Policy sets out the basis on which information received / obtained by the bank is processed by the Bank Privacy policy.</p>

            </div>
        </div>
    </div>
    </div>








    <%- include("footer.ejs")%>